//
// Font
// --------------------------------------------------

@import url(http://fonts.googleapis.com/css?family=Aldrich);
@import url(http://fonts.googleapis.com/css?family=Audiowide);
@import url(http://fonts.googleapis.com/css?family=Cantora+One);
@import url(http://fonts.googleapis.com/css?family=Londrina+Shadow);
@import url(http://fonts.googleapis.com/css?family=Titillium+Web);
@import url(http://fonts.googleapis.com/css?family=Telex);
@import url(http://fonts.googleapis.com/css?family=Droid+Sans:300italic,400italic,600italic,700italic,400,300,600,700);
@import url(http://fonts.googleapis.com/css?family=Architects+Daughter);


body {
  font-family: 'Droid Sans', sans-serif;
  font-weight: 300;
  h1, h2, h3, h4, h5, h6 {
    font-family: 'Aldrich', serif;
    color: #4E6172;
  }
  h2 {
    line-height: 25px;
  }
}

