// Layout
// --------------------------------------------------

body {
  #header {
    #navigation {
      margin-top: 0;
      margin-left: 0 - $gridGutterWidth;
      margin-right: 0 - $gridGutterWidth;
      margin-bottom: 5px;
    }
  }
  #main-wrapper {
    > .container {
      background-color: $mainBackground;
      padding-top: $gridGutterWidth;
      padding-bottom: 1px;
      padding-left: $gridGutterWidth;
      padding-right: $gridGutterWidth;
      @include box-shadow(0 0px 4px rgba(0, 0, 0, 0.065));
      @include border-radius(4px 4px 0 0);
    }
  }
  #footer {
    color: lighten($textColor, 50);
    margin-bottom: 20px;
    margin-top: 2px;
    > .container {
      background-color: $footerBackground;
      border-top: 1px solid #F7F7F7;
      padding-top: 1px;
      padding-bottom: $gridGutterWidth;
      padding-left: $gridGutterWidth;
      padding-right: $gridGutterWidth;
      @include box-shadow(0 1px 4px rgba(0, 0, 0, 0.065));
      @include border-radius(0 0 4px 4px);
    }
  }
}

@media (min-width: 768px) and (max-width: 979px) {
  // Tablet
}

@media (max-width: 767px) {
  body {
    #header {
      #navigation {
        margin-left: auto;
        margin-right: auto;
      }
    }
  }
}