//
// Structure
// Styles for Tabs, Messages, ..etc
// --------------------------------------------------

// Tagline
// --------------------------------------------------
.pane-tagline {
  margin: 30px auto 50px;
  text-align: center;
  h3 {
    color: #909090;
  }
}

// Section
// --------------------------------------------------
.section {
  .section-image {
    color: $white;
    text-align: center;
    a {
      background-color: $linkColor;
      @include border-radius(4px);
      display: block;
      color: #FFFFFF;
      padding: 30px 0;
      text-decoration: none;
      &:hover {
        background-color: $linkColorHover;
      }
    }
    i {
      font-size: 150px;
      height: auto;
      line-height: 100%;
      margin: 0 auto;
      width: auto;
    }
  }
  .section-description {
    text-align: center;
  }
}